{% extends 'layout/template.twig' %}

{% block description %}Edit of an user. Restricted area.{% endblock %}

{% block title %} Edit of: {{ user.nickname }} {% endblock %}

{% block content %}
<h1> Edit of: {{ user.nickname }}</h1>
<form class="form" action="{{ url('user!modify', {'id': user.id }) }}" method="post">
  <ul>
       <li>
         <label for="first_name">First name</label>
         <input id="first_name" type="text" name="first_name" value="{{ user.first_name }}" required>
       </li>
       <li>
           <label for="last_name">Last name</label>
           <input id="last_name" type="text" name="last_name" value="{{ user.last_name }}" required>
       </li>
       <li>
           <label for="nickname">Nickname</label>
           <input id="nickname" type="text" name="nickname" value="{{ user.nickname }}" required>
       </li>
       <li>
         <label for="email">Email</label>
         <input id="email" type="email" name="email" value="{{ user.email }}" required>
       </li>
       <li>
         <label for="status">Status</label>
         <select id="status" name="status" required>
          <option value="{{ user.status }}" {{ selected }}>{{ user.status }}</option>
          <option value="Admin">Administrator</option>
          <option value="Member">Member</option>
          <option value="Visitor">Visitor</option>
         </select>
       </li>
     </ul>

     <ul>
       <li>
           <input type="reset" value="Reset">
           <input type="submit" value="Update">
       </li>
   </ul>
</form>
<a href="{{ url('user') }}">Go back</a>
{% endblock %}
