{% extends 'layout/template.twig' %}

{% block description %}Edit of an user. Restricted area.{% endblock %}

{% block title %} Edit of: {{ user.name }} {% endblock %}

{% block content %}
<h1> Edit of: {{ user.name }}</h1>
<form class="form" action="{{ url('user!modify', {'id': user.id }) }}" method="post">
  <ul>
       <li>
           <label for="name">Last name</label>
           <input id="name" type="text" name="name" value="{{ user.name }}" required>
       </li>
       <li>
         <label for="email">Email</label>
         <input id="email" type="email" name="email" value="{{ user.email }}" required>
       </li>
       <li>
         <label for="status">Status</label>
         <select id="status" name="status" required>
          <option value="{{ user.status }}" {{ selected }}>{{ user.status }}</option>
          <option value="Admin">Administrator</option>
          <option value="Member">Member</option>
          <option value="Visitor">Visitor</option>
         </select>
       </li>
     </ul>

     <ul>
       <li>
           <input type="reset" value="Reset">
           <input type="submit" value="Update">
       </li>
   </ul>
</form>
<a href="{{ url('user') }}">Go back</a>
{% endblock %}
