<footer id="footer" class="foot">
  <ul>
    <li>
      <h3>Find me on:</h3>
      <ul>
        <li></li>
        <li><a href="https://twitter.com/Matthiasgeslin" title="Twitter" target="_blank">Twitter <i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/matthias-geslin" title="Linkedin" target="_blank">Linkedin <i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://codepen.io/matthias-geslin" title="Codepen" target="_blank">Codepen <i class="fab fa-codepen"></i></a></li>
        <li></li>
      </ul>
    </li>
    <li>
      <h3>Site map</h3>
      <ul>
        <li><a href="{{ url('home') }}" title="Homepage"><i class="fas fa-home"></i> <span>Homepage</span></a></li>
        <li><a href="{{ url('progress') }}" title="My Creations"><i class="fas fa-journal-whills"></i> <span>My Progress</span></a></li>
        <li><a href="{{ url('blog') }}" title="Blog"><i class="fas fa-user-tie"></i> <span>Blog</span></a></li>
        <li><a href="{{ url('game') }}" title="Game"><i class="fas fa-gamepad"></i> <span>Game</span></a></li>
        <li><a href="{{ url('contact') }}" title="Contact"><i class="fas fa-address-book"></i> <span>Contact</span></a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <a href="https://github.com/Matthias-Geslin/Websites" title="Github" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.codacy.com/manual/Matthias-Geslin/Websites" title="codacy" target="_blank"><i class="fas fa-circle-notch"></i></a>
  </ul>
</footer>
